section{
    background: #03a9f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}
.circle-box{
    background: white;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    box-shadow: 0 30px 60px 1px rgb(0, 0, 0, 0.5);
    transition: all 0.8s;
    border-radius: 20px;
    margin: 10px 20px;
}
.circle-box:hover{
    transform: scale(1.2);
}
.circle-percentage{
    width: 100px;
    height: 100px;
    position: relative;
}
.circle-percentage svg circle{
    width: 100px;
    height: 100px;
    fill: none;
    stroke-width: 7;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 340;
    stroke-dashoffset: 340;
    stroke-linecap: round;
}
.circle-box .circle-percentage svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #b8b6b6;
}
.circle-box .circle-percentage svg circle:nth-child(2){
    stroke-dashoffset: 10em;
    stroke: #03a9f4;
}
.circle-box:nth-child(2) .circle-percentage svg circle:nth-child(2){
    stroke-dashoffset: 9.5em;
    stroke: #f47303;
}
.circle-box:nth-child(3) .circle-percentage svg circle:nth-child(2){
    stroke-dashoffset: 12.5em;
    stroke: #f4039c;
}
.circle-text{
    margin-top: -10px;
    margin-right: 10px;
}

.circle-box .circle-percentage .circle-number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.circle-box .circle-percentage .circle-number h5{
    font-size: 20px;
}
.circle-box .circle-percentage .circle-number h2 span{

}






/* -----------social animation--------------- */

.social-animate{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 120px;
    background: teal;
    border-radius: 10px;
    margin: 10px;
    border: inset;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
ul{
    margin-top: 30px;
    list-style-type: none;
    display: flex;
    margin-left: -40px;
}
ul li {
    margin: 0 18px;
}
ul li .fab{
    font-size: 30px;
    color: #000;
    line-height: 30px;
    transition: all 0.8s;
}
li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #808080;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: all 0.8s;
    box-shadow: -30px 30px 10px rgb(0, 0, 0, 0.5);
}
li a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    width: 20px;
    height: 100%;
    background: #93a092;
    transition: all 0.8s;
    transform: rotate(0) skewY(-45deg);
}
li a::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    width: 100%;
    height: 20px;
    background: #d3d3d3;
    transition: all 0.8s;
    transform: rotate(0) skewx(-45deg);
}
li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
li :hover .fab{
   color: #fff;
}
li:nth-child(1):hover a{
    background: #3b5999;
}
li:nth-child(1):hover a::after{
    background: #4c68a2;
}
li:nth-child(1):hover a::before{
    background: #5e77ab;
}
li:nth-child(2):hover a{
    background: #e4405f;
}
li:nth-child(2):hover a::after{
    background: #e7617a;
}
li:nth-child(2):hover a::before{
    background: #e4506b;
}
li:nth-child(3):hover a{
    background: #55acee;
}
li:nth-child(3):hover a::after{
    background: #73baf0;
}
li:nth-child(3):hover a::before{
    background: #64b2ee;
}
li:nth-child(4):hover a{
    background: #131418;
}
li:nth-child(4):hover a::after{
    background: #2e2e2e;
}
li:nth-child(4):hover a::before{
    background: #171717;
}



.bg-slider{
    color: #eee;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -70px;
    position: relative;
}

.bg-slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    justify-content: center;align-items: center;

}
.bg-slider .list .item .content{
    position: absolute;
    top: 70px;
    width: max-content;
    display: grid;grid-template-columns: repeat(2, 400px);
    font-family: poppins;
    gap: 80px;
    font-size: 1.2em;
    text-transform: uppercase;
    text-shadow: 0 0 80px #000;
}
.bg-slider .list .item .content h2{
    font-size: 10em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 0.9em;
    grid-row-start: 1;
    grid-row-end: 3;
}
.bg-slider .list .content p:last-child{
    display: flex;
    align-items: end;
    padding-bottom: 25px;
}